.form-col {
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
}

.form-col:nth-child(3) {
  flex-direction: row;
  align-items: stretch;
}

.input {
  border: none !important;
  color: #fff !important;
  font-size: 1.2rem !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  border-bottom: 1px #6cddc9 solid !important;
}

.check{
    background-color: #6cddc9 !important;
}

.login-button {
  width: 200px;
  font-size: 1.2rem !important;
  transition: 0.5s !important;
  border-radius: 30px !important;
  background-color: #6cddc9 !important;
}

.login-button:hover {
    background-color: #6cddc882 !important;
    color: rgba(255, 255, 255, 0.54) !important;
}
