.homepage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: red;
    color: white;
}
.level{
    width: 95%;
    height: 30%;
}

.window, .window-text{
    margin: auto;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-text{
    flex-direction: column;
}

.window-number{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.window-title{
    font-size: 25px;
    text-align: center;
}