.login-container {
  height: 100vh !important;
  width: 100vw !important;
  overflow-y: hidden;
}

.login-box {
  height: 100vh;
  width: 100vw !important;
  background-color: var(--sixth-color);
}

.col-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6cddc9;
}

.col-login {
  display: flex;
  color: #ffffff;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 1366px) {
  .login-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-box {
    width: 80%;
  }
  .col-login {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .col-img {
    display: none;
  }
  .login-box {
    border-radius: 0px;
    box-shadow: none;
  }
}
