:root {
  --bg-color: #8fe1f5;
  --fourth-color: #aee1d3;
  --sixth-color: #1D2532;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}
