.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(97, 39, 48);
  background: linear-gradient(
    29deg,
    rgba(97, 39, 48, 1) 0%,
    rgba(215, 100, 118, 1) 59%,
    rgba(190, 125, 136, 1) 100%
  );
}
